WorldPrecision/CATL/Web References/WebReference/MiCheckSFCStatusServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://machineintegration.ws.atlmes.com/" targetNamespace="http://machineintegration.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://machineintegration.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="changeSFCStatusRequest" type="tns:changeSFCStatusRequest" />
      <xs:element name="miCheckSFCstatus" type="tns:miCheckSFCstatus" />
      <xs:element name="miCheckSFCstatusResponse" type="tns:miCheckSFCstatusResponse" />
      <xs:element name="miCommonResponse" type="tns:miCommonResponse" />
      <xs:complexType name="miCheckSFCstatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChangeSFCStatusRequest" type="tns:changeSFCStatusRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changeSFCStatusRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="operation" type="xs:string" />
          <xs:element minOccurs="0" name="operationRevision" type="xs:string" />
          <xs:element name="sfc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miCheckSFCstatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:miCommonResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miCommonResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miCheckSFCstatusIn">
    <wsdl:part name="parameters" element="tns:miCheckSFCstatus" />
  </wsdl:message>
  <wsdl:message name="miCheckSFCstatusOut">
    <wsdl:part name="miCheckSFCstatusResponse" element="tns:miCheckSFCstatusResponse" />
  </wsdl:message>
  <wsdl:portType name="MiCheckSFCStatusService">
    <wsdl:operation name="miCheckSFCstatus" parameterOrder="parameters">
      <wsdl:input message="tns:miCheckSFCstatusIn" />
      <wsdl:output message="tns:miCheckSFCstatusOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MiCheckSFCStatusServiceBinding" type="tns:MiCheckSFCStatusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="miCheckSFCstatus">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiCheckSFCStatusServiceService">
    <wsdl:port name="MiCheckSFCStatusServicePort" binding="tns:MiCheckSFCStatusServiceBinding">
      <address location="http://ndmesd003.ATLbattery.com:50000/atlmeswebservice/MiCheckSFCStatusServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>